# Git
.git
.gitignore

# Ambiente
.env
.env.*

# Documentação e locks
doc/
.~lock.*

# Backups locais
database/backups/

# Frontend
frontend/node_modules
frontend/dist

# Backend
backend/target

# IDE
.idea
.vscode
*.iml
